<robot name="mycar">
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.5 0.3 0.1"/>
            </geometry>

            <origin xyz="0 0 0" rpy="0 0 0"/>

            <material name="yellow">
                <color rgba="0.5 0.3 0 0.5"/>
            </material>
        </visual>

        <!-- collision-->
        <!-- standard geometry then the same with geometry and origin-->
        <collision>
            <geometry>
                <box size="0.5 0.3 0.1"/>
            </geometry>

            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
        <inertial>
            <origin xyz="0 0 0"/>
            <mass value="2"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
        <!-- inertial matrix-->

        <!--gazebo has its own color-->
        <gazebo reference="base_link">
            <material>Gazebo/Red</material>
        </gazebo>
    </link>
</robot>
