<launch>
    <!-- 1. put urdf in param server-->
    <param name="robot_description" textfile="$(find urdf02_gazebo)/urdf/demo01_helloworld.urdf"/>
    <!-- gazebo-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <!-- add robot in gazebo-->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"  args="-urdf -mode car -param robot_description"/>
</launch>